<div class="page-wrapper">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12">
          <h2>New Customer</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="card">
      <div class="card-header">
        Customer informations
      </div>
      <div class="card-body">
        <form>
          <div class="form-group row">
            <label for="title" class="col-sm-2 col-form-label">First name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="title" name="first_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="barcode" class="col-sm-2 col-form-label">Last name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="barcode" name="last_name">
            </div>
          </div>
          <div class="form-group row">
            <label for="category_id" class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="category_id" name="email">
            </div>
          </div>
          <div class="form-group row">
            <label for="supplier_id" class="col-sm-2 col-form-label">Phone number</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="supplier_id" name="phone_number">
            </div>
          </div>
          <div class="form-group row">
            <label for="product_code" class="col-sm-2 col-form-label">Phone image</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="product_code" name="photo_url">
            </div>
          </div>
          <div class="form-group row">
            <label for="tags" class="col-sm-2 col-form-label">street_address</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="tags" name="street_address">
            </div>
          </div>
          <div class="form-group row">
            <label for="manufacturer_id" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="manufacturer_id" name="city">
            </div>
          </div>
          <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">State</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="description" name="state">
            </div>
          </div>
          <div class="form-group row">
            <label for="long_description" class="col-sm-2 col-form-label">Country:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="long_description" name="country">
            </div>
          </div>
          <div class="form-group row">
            <label for="weight" class="col-sm-2 col-form-label">Notes:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="weight" name="notes">
            </div>
          </div>
          <div class="form-group row">
            <label for="weight" class="col-sm-2 col-form-label">Company name:</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="weight" name="company_name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Inactive</label>
            <div class="col-sm-10">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="inactive">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-12 text-right">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>