@import 'src/variables'

#header-primary
  position: absolute
  top: 0
  left: 0
  right: 0
  height: $headerPrimaryHeight
  z-index: 1
  background-color: $headerPrimaryBgColor

  --webkit-transaction: top 0.5s ease-in
  --moz-transaction: top 0.5s ease-in
  --o-transaction: top 0.5s ease-in
  transaction: top 0.5s ease-in

  .brand
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: $sideNavOpenedWidth
    background-color: transparent

  .navigation
    padding-left: $sideNavOpenedWidth
