<nav id="side-navigation">
  <ul class="list-nav">
    <li class="list-item">
      <a class="list-item-link">
        <i class="list-item-icon fa fa-lg fa-fw fa-user"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="list-item">
      <a class="list-item-link">
        <i class="list-item-icon fa fa-lg fa-fw fa-user"></i>
        <span class="text">Customers</span>
      </a>
    </li>
    <li class="list-item">
      <a class="list-item-link">
        <i class="list-item-icon fa fa-lg fa-fw fa-user"></i>
        <span class="text">Items</span>
      </a>
    </li>
  </ul>
</nav>